.git
.gitignore
.idea
.vscode
.dart_tool
.flutter-plugins-dependencies
.pub-cache
build
coverage
**/node_modules
**/.gradle
**/build
backend/.env
backend/.env.*
backend/vault
backend/data
.env
.env.*
**/*.enc
**/*.dump
**/*.log
backups
ios
linux
macos
windows
android
*.iml
